.review-item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
 }
 
 .review-author {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     column-gap: 15px;
 }
 
 .review-content {
     border: 1px solid #E1E1E1;
     border-radius: 6px;
     padding: 10px 12px;
 }